
.center
{
    text-align:center;
    margin-top:55px;
}

.form-group
{
    padding-left:280px;
    padding-top:10px;   
    
}

.button
{
    padding-right:350px;
    padding-bottom:10px;
}

.background
{
    background-color:aliceblue;
}

.forma
{
    margin-right:-200px;
}

